

/* --------------------------- Страница со статьёй -------------------------------- */

.row-article-page {
    display: flex;
    justify-content: space-between;
}

.article-page-nav{
    width: 270px;

    flex-shrink: 0;
    flex-grow: 0;
}

.inner-page-article{
    width: 770px;
    
    line-height: 1.6;
    flex-shrink: 0;
    flex-grow: 0;

    color: #31405B
}

.inner-page-article h1{
    font-weight: 700;
    font-size: 54px;
    line-height: 52px;
    margin-bottom: 40px;
}

.inner-page-article h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.inner-page-article h3{
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.inner-page-article h4{
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 15px;
}

.inner-page-article h5{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 15px;

}

.inner-page-article h6{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.inner-page-article p{
    font-weight: 400;
    max-width: 770px;
    font-size: 20px;
    margin-bottom: 15px; 
}

.inner-page-article > *:last-child{
    margin-bottom: 0; 
} /*выбрать любой (*) элемент первого уровня вложенности который является последжним в блоке inner-page-article */

.article-image {
    margin-bottom: 40px;
    margin-top: 40px;
}

.article-page-nav-title {
    font-weight: 700;
    font-size: 28px;

    color: #31405B;
    margin-bottom: 34px;
}

.article-page-nav-list {
    border-top: 1px solid #D6D9D8;
}

.article-page-nav-list li{
    border-bottom: 1px solid #D6D9D8;
    font-size: 20px;
}

.article-page-nav-list a{
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
    color: #138ECE;
}

.article-page-nav-list a:hover{
    text-decoration: underline;
}

.article-page-nav-list a.active-link{
    color: #E04E4E;
    font-weight: 700;
}

/* //Страница со статьёй  */