/* font-family: 'Lobster', cursive;
font-family: 'PT Sans', sans-serif; */

html,body,iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl,
dt, dd, ol, ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

*, *::before, *::after{
Box-sizing: border-box;
}

.none {
    display: none;
}

body {
    font-family: 'PT Sans', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

/* ------HEADER-------- */ 

.header {
    position: relative;

    height: 800px;
    padding-top: 50px;

    background-color: #265847; /* цвет на случай если не прогрузится пикча*/
    background-image: url("../img/main/main-bg.jpg"); /* ссылка на картинку*/
    /* background-repeat: no-repeat; картинка не повторяется */
    background-position: center; /* выровнять по центру*/
    background-size: cover; /*  растянуть */

    color: #FFF;
}

.header-inner {
    height: 100px;
    display: flex;
    align-items: center;

    color: #FFF;
    background-color: #265847;

    background-image: url(../img/tours/header-small-bg.jpg);
    background-position: center;
    background-size: cover;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1170px;
    margin: 0 auto;
} 

.logo {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 40px;
    line-height: auto;
}

.header-nav {
    font-weight: 400;
    font-size: 22px;
}

.header-nav-list {
    display: flex;
}

.header-nav-list-item:not(:last-child) {
    margin-right: 50px;
}

.header-nav-list-link {
    text-decoration: none;
    color: #fff;
}

.header-nav-list-link:hover {
    color: rgba(255, 255, 255, 0.87);
}

.header-content {
    width: 1170px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*перемещение относительно родителя (.header{position:relative;})*/

    text-align: center;
}

.header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin-bottom: 20px;
}

.header-subtitle {
    font-size: 24px;
    line-height: 31px;
}

.header-scroll {
    height: 55px;

    display: inline-block;
    position: absolute; /*для него relative является .header, как указывали для предыдущего элемента*/
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);

    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;  
}

.header-scroll::after {
    content: "";

    position: absolute; /*любой абсолютный элемент является родителем для других вложенных абсолютных элементов, в данном случае это .header-scroll {position: absolute;} будет считаться как relative*/
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
   
    display: block;
    width: 24px;
    height: 24px;

    background-image: url("../img/main/arrow-down.svg");
}

/* ---------------main----------------- */

.main{
    padding-top: 120px;
    padding-bottom: 120px;
}

.main-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.no-margin {
    margin-bottom: 0;
}

.main-content {
    width: 470px;
    color: #31405B;
}

.header-2 {
    font-weight: 700;
    font-size: 54px;
    line-height: 70px;

    margin-top: 0;
    margin-bottom: 20px;
}

.main-content p {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;

    margin-top: 0;
    margin-bottom: 40px;
}

.external-link{
  color: #138ECE;  
}

.main-img {
    width: 570px;
}

.button {
    display: inline-block;
    height: 50px;
    padding: 0 40px;

    background: #0AC883;
    box-shadow: 0px 8px 20px rgba(24, 219, 148, 0.35);
    border-radius: 50px;

    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}

.button:hover {
    background: #08df90;
}

/* --------------footer------------------ */

.footer {
    background-color: #265847;
    padding-top: 70px;
    padding-bottom: 90px;
    color: #fff;
}

.footer a{
    text-decoration: none;
    color: #fff;
}

.footer a:hover{
    text-decoration: underline;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-widget-wrapper{
    display: flex;
}

.footer-copyright {
    width: 270px;
}

.footer-logo {
    margin-bottom: 26px;
}

.footer-copyright p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}
.footer-widget {
    font-size: 18px;
    line-height: 23px;
    margin-right: 30px;
}

.footer-widget:nth-last-child(1){
    margin-right: 0;
}

.info {
    width: 170px;
}

.footer-widget-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

.footer-widget-list {
    
}

.footer-widget-list li{
   margin-bottom: 15px;
}

.services .contact {
    width: 270px;
}

/* ---------INNER PAGE------- */

.inner-page-tours {
    padding-top: 60px;
    padding-bottom: 100px;
}

.inner-page-tours-header {
    margin-bottom: 60px;
    font-weight: bold;
    font-size: 54px;
    line-height: 70px;
    text-align: center;
    color: #31405B;
}
/* ---------карточи ------- */
.cards-wrapper {
}

.card-link-wrapper {
    text-decoration: none;
}

.card-link-wrapper:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.2);
    opacity: .9;
}

.cards-row-1 {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.cards-row-2 {
    display: flex;
}

.cards-col-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 670px;
    height: 760px;
    margin-right: 30px;
}

.cards-col-1-card {
    width: 670px;
    height: 365px;

    background-color: rgb(141, 112, 112);
}

.cards-col-2 {
    width: 470px;
    height: 760px;

    background-color: rgb(24, 8, 8);
}

/* описание компонента карточки */
.card {
    width: 570px;
    height: 435px;
    background-color: rgb(114, 40, 40);
}

.card-title-wrapper{
    height: 80px;
    color: #FFFFFF;
    padding: 22px 30px;

    overflow: hidden; /*это и след свойство для того, чтобы слишком длинный текст обрезался*/
    white-space: nowrap;
}

.card-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-overflow: ellipsis;  /*это свойство для того, чтобы слишком длинный текст обрезался*/
}

/* Расцветки заголовков карточек */
.free-tours {
    background-color: #A6A6A6;
}
.extreme-tours {
    background-color: #C1B19B;
}
.adventure-tours {
    background-color: #66B0BE;
}
.tracking-tours {
    background-color: #876F56;
}
.exotic-tours {
    background-color: #27695E;
}
/* // Расцветки заголовков карточек */