/* ------------------------МЕДИА ЗАПРОСЫ------------------------ */
/* -----------------------------------tablet----------------------------------- */
@media (max-width:1199px) {
    
    .container {
        width: 900px;
    }

    /* HEADER */
    .header {
        height: 590px;
    }

    

    .header-top, .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    } 

    .header-content {
    flex-direction: column;
    }

    .header-nav-button {
        display: block;
        background: transparent;
        border: none;
        outline: none;
        padding: 0;
    }

    .header-nav-list {
        display: none;
    }

    .header-title {
        font-size: 52px;
    }

    .header-scroll {
        font-size: 0;
    }
    /* //HEADER */

    /* MAIN */
    .main {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    .main-content {
        width: 420px;
    }

    .main-row {
        margin-bottom: 80px;
    }

    .no-margin {
        margin-bottom: 0;
    }

    .main-img {
        width: 420px;
    }

    .main-header {
        font-size: 50px;
    }

    .header-2 {
        font-size: 50px;
        line-height: 100%;
    }

    .main-content-text{
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 20px;
    }
    /* //MAIN */

    /* FOOTER */
    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer-logo {
    margin-bottom: 20px;
    }

    .footer-logo .logo {
        font-size: 30px;
        line-height: 37px;
    }

    .footer-copyright p {
        font-size: 14px;
        line-height: 1.6;
    }

    .services {
        display: none;
    }

    .footer-widget-title {
        margin-bottom: 20px;
    }
    /* //FOOTER */
    
}

/* -----------------------------------mobile landscape----------------------------------- */
@media (max-width:899px) {
    .container {
        width: 100%;
    }
    .header-top, .header-content {
    width: 600px;
    padding-left: 15px;
    padding-right: 15px;
    } 
    .header-title {
        font-size: 42px;
        line-height: 100%;
    }
    .header-subtitle {
        font-size: 20px;
    }

    /* MAIN */
    .main {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .header-2 {
        font-size: 42px;
        line-height: 42px;
    }

    .header-top {
        width: 100%;
    }

    .header-content {
        width: 100%;
    }

    .main-row {
        flex-direction: row-reverse;
        margin-bottom: 60px;
    }

    .no-margin {
        flex-direction: row;
        margin-bottom: 0;
    }

    .main-content {
        width: auto;
    }

    .main-img {
        width: 170px; 
        /*вопрос "зачем вы диву с изображением указали фиксированную высоту". сюда относился? Есди да - то при удалении этого параметра картинки сжимаются"*/
        margin-right: 30px;
        flex-shrink: 0;
    }

    .main-img img{
        width: 100%;
        height: 100%;
        object-fit: cover; /*то как изображение масштабируется*/
    } 
    
    .main-content-text{
        font-size: 16px;
        line-height: 1.6;
    }

    .button {
        height: 46px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 18px;
        line-height: 46px;
    }
    /* //MAIN */

    /* FOOTER */
    .footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer-row {
        flex-wrap: wrap;
    }

    .footer-copyright {
        order: 1;
        width: 100%;
    }

    .footer-copyright p {
        font-size: 14px;
        line-height: 1.6;
    }

    .footer-widget-wrapper {
        width: 100%;
        margin-bottom: 50px;
    }

    .footer-widget-wrapper > * {
        width: calc(50% - 15px);
    }
    /* //FOOTER */
}

/* -----------------------------------mobile portrait XS----------------------------------- */

@media (max-width:599px) {
    .container {
        width: 320px;
    }


    .logo {
    font-size: 30px;
    line-height: 37px;
    }

    .header-top, .header-content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    } 

    .header-top {
        width: 100%;
    }

    .header-title {
        font-size: 32px;
        line-height: 100%;
        margin-bottom: 10px;
    }

    .header-subtitle {
        font-size: 18px;
        line-height: 23px;
    }

    /* MAIN */
    .main {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .main .container {
        width: 100%;
    }
    
    .main-row {
        flex-direction: column-reverse;
        margin-bottom: 40px;
    }

    .no-margin {
        flex-direction: column;
    }

    .header-2 {
        font-size: 34px;
        line-height: 100%;
    }


    .main-content {
        width: auto;
    }
    
    .main-img {
        width: auto;
        height: 150px;
        margin-right: 0;
        margin-bottom: 20px;
    }
    /* //MAIN */

    /* FOOTER */

    .footer {
        text-align: center;
    }

    .footer-row {
        flex-direction: column;
    }

    .footer-logo {
    margin-bottom: 10px;
    }

    .footer-widget {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .footer-widget-wrapper {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .footer-widget-wrapper > * {
        width: auto;
    }

    .services {
        display: block;
    }

    .footer-widget-title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 10px;
    }

    .footer-widget-list {
        font-size: 16px;
        line-height: 21px;
    }

    .footer-widget-list li {
        margin-bottom: 10px;
    }

    /* //FOOTER */
}